@model List<Kisi>
@{
    ViewBag.Title = "Kişiler";
}

<h1>@ViewBag.Title</h1>

@* html tag ı giremezsin
    @Html.ActionLink("Yeni Kişi","Yeni",null,htmlAttributes: new { @class="btn btn-success" })  *@

@* url tag helper *@
<a asp-action="Yeni" class="btn btn-success mb-2"><i class="fas fa-plus"></i>Yeni Kişi</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kişi Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.KisiAd</td>
                <td>
                    <a asp-action="Duzenle" asp-route-id="@item.Id" class="btn btn-warning">Düzenle</a>
                    <a href="#" onclick="sil(@item.Id, '@item.KisiAd')" class="btn btn-danger"> Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Sil" name="silForm">
    <input  type="hidden" name="id" />
</form>



@section scripts {
    <script>
        function sil(id, kisiAd) {
            event.preventDefault();

            if (confirm('"' + kisiAd + ' " adlı kişiyi silmek istediğinize emin misiniz ?')) {
                document.silForm.elements.id.value = id;
                document.silForm.submit();
            }
        }
    </script>

}